.parentattr {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}
.bottomborder {
  border-style: hidden hidden solid hidden;
  border-width: 3px;
  border-color: #7d97ad;
  padding-top: 10px;
}
.logo {
  max-width: 18%;
}
.header {
  margin: 0% 5%;
}
.mainimage {
  padding-top: 10px;
  margin: 1% 5% 0% 5%;
  width: 90%;
}
.image {
  max-width: 100%;
}
.imgsmall {
  max-width: 80%;
  text-align: left;
}
.imgsmaller {
  max-width: 60%;
}
.marginlr {
  margin: 0 5%;
}
h1 {
  text-align: right;
  font-size: 20px;
  color: #2d3c49;
}
h2 {
  text-align: right;
  font-size: 13px;
  color: #2d3c49;
}
h3 {
  text-align: left;
  font-size: 110%;
}
h4 {
  text-align: center;
  padding: 0;
  margin: 0;
}
figure {
  width: 50%;
  text-align: center;
  padding: 2% 0 0 0;
  margin: 0;
}
figcaption {
  text-align: center;
  padding: 0;
  margin: 0;
  max-width: 100%
}
.inline {
  display: inline-block;
}
.floatleft {
  float: left;
}
.clearleft {
  clear: left;
}
.bbox {
    box-sizing: border-box;
}
.flex {
  width: 100%;
  display: flex;
}
.flexwrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
a:link {
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: #02b3e4;
}
